@using IdentityOrnek.Areas.Admin.Models;


@model List<UserListModelView>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>User Name</th>
            <th>Email</th>
            <th>Roller</th>
            <th>Rol İşlemleri</th>
        </tr>
    </thead>


    <tbody>


        @foreach (var item in Model)
        {
            <tr>
                <th>@item.Id</th>
                <th>@item.Name</th>
                <th>@item.Email</th>
                <th> <role user-id="@item.Id"></role> </th>
                <th>
                    <a asp-action="AssignRoleToUser" asp-controller="Role" asp-route-id="@item.Id">Rol ata</a>
                </th>
                
            </tr>
        }
    </tbody>

</table>